.content{
    background-color: #9db9ee;
    font-family: 'Plus Jakarta Sans', sans-serif;
    
}

.link{
    position: relative;
    display: block;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 17.2px;
    cursor: pointer;
    width: fit-content;
    margin:  0 auto 0px;
    z-index: 0;
    transition: all 300ms ease;

    &::after,
    &::before{
        content: '';
        display: block;
        position: absolute;
        transition: width 200ms, opacity 200ms ease;
    }
}

.link--3{
    height: 70px;
    width: 230px;
    display: grid;
    place-items: center;
    &-b-tr,
    &-b-bl{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &::before,
        &::after{
            content: '';
            position: absolute;
            background-color: rgb(64, 64, 182);
            transition: all 400ms ease-in-out;
        }
    }

    &-b-tr::before{
        right: 0;
        bottom: 0;
        width: 0;
        height: 1px;
    }
    &-b-tr::after{
        right: 0;
        top: 0;
        height: 0;
        width: 1px;
    }
    &-b-bl::before{
        left: 0;
        top: 0;
        width: 0;
        height: 1px;
    }

    &-b-bl::after{
        left: 0;
        bottom: 0;
        height: 0;
        width: 1px;
    }
    &:hover{
        color: rgb(64, 64, 182);

        .link--3-b-tr::before,
        .link--3-b-bl::before{
            width: 100%;
        }

        .link--3-b-tr::after,
        .link--3-b-bl::after{
            height: 100%;
        }
    }
}
